# Assignment 4: Linear Regression Models

## Task 1: Pakistan Used Car Prices Prediction
- Dataset: https://www.kaggle.com/datasets/talhabarkaatahmad/pakistan-used-car-prices-2023

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

sns.set(style="whitegrid")

In [5]:
# Load Used Car Prices dataset
df_car = pd.read_csv("pakwheels_used_car_data_v02.csv")  # replace with actual filename
df_car.head()

,addref,city,assembly,body,make,model,year,engine,transmission,fuel,color,registered,mileage,price
0,7943732,Peshawar,NaN,Sedan,Toyota,Corolla,2013.0,1300.0,Manual,Petrol,Silver Metallic,Lahore,145000,2870000.0
1,7730314,Lahore,NaN,Sedan,Honda,City,2000.0,1300.0,Manual,Petrol,Blue,Lahore,230000,995000.0
2,7943737,Lahore,NaN,Sedan,Toyota,Yaris,2021.0,1300.0,Manual,Petrol,Super White,Punjab,60500,3585000.0
3,7943733,Lahore,NaN,Hatchback,Suzuki,Swift,2017.0,1300.0,Manual,Petrol,Grey,Islamabad,87000,2250000.0
4,7923484,Lahore,NaN,Sedan,Honda,Civic,2017.0,1800.0,Automatic,Petrol,Grey,Lahore,86000,4850000.0

In [6]:
# Select relevant features
df_car = df_car[['price', 'year', 'engine', 'mileage']]
df_car.dropna(inplace=True)
df_car = df_car[(df_car['price'] > 0) & (df_car['engine'] > 0) & (df_car['mileage'] > 0)]

In [7]:
X = df_car[['year', 'engine', 'mileage']]
y = df_car['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_car = LinearRegression()
model_car.fit(X_train, y_train)

predictions = model_car.predict(X_test)
print("R2 Score:", r2_score(y_test, predictions))
print("MSE:", mean_squared_error(y_test, predictions))

R2 Score: 0.39666478608065714
MSE: 16985223557196.836

## Task 2: Student Performance Prediction
- Dataset: https://archive.ics.uci.edu/dataset/320/student+performance

In [8]:
# Load Student Performance dataset
student_df = pd.read_csv("student-mat.csv", sep=';')  # Assuming the .csv is downloaded
student_df.head()

  school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0  GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mot...
1  GP,F,17,U,GT3,T,1,1,at_home,other,course,fathe...
2  GP,F,15,U,LE3,T,1,1,at_home,other,other,mother...
3  GP,F,15,U,GT3,T,4,2,health,services,home,mothe...
4  GP,F,16,U,GT3,T,3,3,other,other,home,father,1,...

In [10]:
# Keep only numeric columns and target
numeric_df = student_df.select_dtypes(include=np.number)
X_student = numeric_df.drop(columns='G3')
y_student = numeric_df['G3']

KeyError: "['G3'] not found in axis"

In [ ]:
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_student, y_student, test_size=0.2, random_state=42)

model_student = LinearRegression()
model_student.fit(X_train_s, y_train_s)

student_predictions = model_student.predict(X_test_s)
print("R2 Score (Student):", r2_score(y_test_s, student_predictions))
print("MSE (Student):", mean_squared_error(y_test_s, student_predictions))